@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
a {text-decoration: none; }

/** ----------------<menu>-------------------------------- **/
#menu {
    width: 393px;
    height: 200px;
    background: rgba(255, 255, 255, 0.716);
    position: absolute;
    z-index: 1000;
    left: 50%;
    top: 200px;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 0 1.5px #6892C2 inset;
    display: none;
    
}
#menu ul {
    float: right;
    position: relative;
    top: 12%;
    right: 25px;
    text-align: right;
}
#menu ul li {
    padding-bottom: 20%;

}
#menu ul li a{
    font-size: 16px; 
    font-weight: 700;
    color: #6892C2;
    font-family: 'GmarketSans';


}

#menu ul li a:hover{
    color: #436388;
}


.x {
    width: 30px;
    height: 30px;
    float: left;
    position: absolute;
    bottom: 0;
    background: #6892C2;
}

.bt{
    position: relative;
    float: right;
    top: 47px;
    right: 25px;
    
    
}

/** ----------------<menu>-------------------------------- **/


#wrap{
    width: 393px; margin: 0 auto;
}

.mainpage{
    width: 100%;
    height: 580px;
    background-image: url(img/bg_main.png);
    background-repeat: no-repeat;
    background-size: 393px 580px;

}

/** 네비게이션 적용 **/

.nav{
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.622);
    position: relative;
}

.logo{
    float: left;
    position: absolute;
    left: 25px;
    top: 43px;

}





/** 콘텐츠 적용 **/

.maincontent{
    width: 100%;
    height: 40px;
    margin: 0 auto;
    position: relative;
    left: 60%;
    top: 40%;
    transform: translate(-50%,-50%);
    
    
}

.main-title{
    font-size: 32px;
    text-align: center;
    position: absolute;
    color: white;
    font-family: 'GmarketSans';
   
    
    
   
}
#content {
    width: 393px;
    height: 1400px;
    margin: 0 auto;
    position: relative;
}
.contentbg{

    height: 1420px;
    display: block;
    position: absolute;
    
   
    
    
}



.mebox{
    width: 393px;
    height: 270px;
    
}

.about{
    color:#6892C2;
    font-family: 'GmarketSans';
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
    
}

.me{
    margin: 0 auto;
    width: 293px;
    height: 100px;
    display: flex;
    position: relative;
    padding-top: 50px;
    

    
}
.me li {
    width: 33.3333%;
    
    
    
}



.info_h {
    width: 100%;
    height: 100%;
    
    
}
.info_h h2 {
    padding-left: 20px;
}

.info{
    color:#6892C2;
    font-family: 'GmarketSans';
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.03em;
    line-height: 25px;
}

.con{ 
    color:#6892C2;
    font-family: 'GmarketSans';
    font-weight: 500;
    font-size: 13px;
    letter-spacing: -0.03em;
    line-height: 25px;
}


/* ----------------------edu------------------------ */  
 

.edu_bg {
    width: 393px;
    height: 495px;
    
    position: relative;
    
    
    

}

.edu_main {
    width: 393px;
    height: 200px;
    
    display: flex;
    
    
}

.edu_main li {
    width: 50%;
    padding-top: 95px;
    
    
    
}

.edu_main h2 {
    display: block;
    
}
.edu_main p {
    display: block;
    line-height: 20px;
}

.education {
    color:#6892C2;
    font-family: 'GmarketSans';
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    

}


.con02 {
    line-height: 20px;
 
}

/* ----------------------awd------------------------ */

.awd{
    width: 393px;
    height: 135px;
    display: flex;
    
}
.awd li {
    width: 50%;
    padding-top: 35px;
}

.awd h2{
    display: block;
}

.awd p {
    display: block;
}

.award{
    color:#6892C2;
    font-family: 'GmarketSans';
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    padding-right: 20px;
    
}

.con03{
     line-height: 20px;
}

/* ----------------------lic------------------------ */

.lic{
    width: 393px;
    height: 135px;
    display: flex;
    
}

.lic h2{
    display: block;
    padding-right: 10px;
}

.lic p {
    display: block;
}

.lic li {
    width: 50%;
    padding-top: 35px;

}

.license {
    color:#6892C2;
    font-family: 'GmarketSans';
    font-weight: 700;
    font-size: 15px;
    text-align: center;
   
}

.con04{
    line-height: 20px;
}

/* ----------------------skill------------------------ */

.skill {
    width: 393px;
    height: 200px;
    
    
}

.skl{
    color:#6892C2;
    font-family: 'GmarketSans';
    font-weight: 700;
    font-size: 15px;
    text-align: center;
        height: 50px;
        padding-top: 85px;
    
}

.skill_img{
    margin: auto; display: block;
}
/* ----------------------preview------------------------ */
.preview {
    width: 100%;
    
}

.pre{
    color:#6892C2;
    font-family: 'GmarketSans';
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    padding-top: 125px;
    padding-bottom: 40px;
}

.group1{
    width: 323px;
    height: 100px;
    display: flex;
    position: relative;
    margin: 0 auto;
}

.group2{
    text-align: center;
    
}
.box1 {
    margin: 0 auto;
    position: relative;
    width: 140px;
    height: 80px;
    
}

.p_iden{
    margin-right: 40px;
    display: block;
    position: absolute;
    border-radius: 10px;
}
.p_a {
    display: block;
    width: 140px;
    height: 80px;
    text-align: center;
    margin: 0 auto;
    opacity: 0;
}

.p_a:hover {
    opacity: 1;
}

.p_bg{
    width: 140px;
    height: 80px;
    background: rgba(104, 146, 194, 0.205);
    position: absolute;
    border-radius: 10px;
    
 }
 .box1 h2 {
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    z-index: 1000;
    font-size: 12px;
    color: #fff;
    font-family: 'GmarketSans';
    font-weight: 500;
}
 
 

/** 푸터 **/
.footer{
    width: 393px;
    height: 30px;
    background-color: #A6BED8;
    margin: 0 auto;
}

.f-text{
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: 9px;
    padding-top: 8px;

}

/** 아이덴티티 ----------------------------------------------------0-0-0-0-0-------------------**/

.subpage{
    width: 393px;
    height: 580px;
    background-image: url(img/sub01_mbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sub_maincontent{
    width: 100%;
    height: 73.33px;
    margin: 0 auto;
    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    
}
.sub_maincontent h1 {
    display: block;
}
.sub-title{
    font-size: 32px;
    text-align: center;
    position: relative;
    color: white;
    font-family: 'GmarketSans';
    margin: 0 auto;
    
   
    
}

.sajo{
    width: 393px;
    height: 820px;
    margin: 0 auto;
    
}

.sajo-t{
    text-align: center;
    padding-top: 40px;
}

.s-con{
    color: #6885C3;
    font-size: 12px;
    font-family: 'GmarketSans';
    font-weight: 500;
    text-align: center;
    
    line-height: 19px;
}

.s-img01{
    text-align: center;
    padding-top: 43px;
}

.slogo-info{
    color: #6885C3;
    font-size: 13px;
    font-family: 'GmarketSans';
    font-weight: 500;
    text-align: center;
    line-height: 20px;
    padding-top: 32px;
}

.logo-info2{
    display: flex;
    
}

.s-color{
    color: #6885C3;
    font-size: 24px;
    font-family: 'GmarketSans';
    font-weight: 510;
    margin-left: 637px;
    padding-right: 275px;
}
.s-grid{
    color: #6885C3;
    font-size: 24px;
    font-family: 'GmarketSans';
    font-weight: 510;
}

.sj-color{
    display: flex;
    margin-left: 643px;
   
}

.scode{
    color: #6885C3;
    font-size: 22px;
    font-family: 'GmarketSans';
    font-weight: 500;
    line-height: 55px;
    padding-left: 12px;
}

.s-img02{
    text-align: center;
    padding-top: 68px;
}

.sajo-m{
    width: 100%;
    height: 865px;
    padding-top: 45px;
    text-align: center;
}


/* -----------f------------------------ */

.frisch {
    width: 393px;
    height: 878px;
    margin: 0 auto;

}

.fri-t{
    text-align: center;
    padding-top: 40px;
    
}

.f-con{
color: #66A267;
    font-size: 13px;
    font-family: 'GmarketSans';
    font-weight: 500;
    text-align: center;
    line-height: 20px;
    padding-top: 30px;
}

.f-img01{
    text-align: center;
    padding-top: 43px;
   
}

.flogo-info{
    color: #66A267;
    font-size: 13px;
    font-family: 'GmarketSans';
    font-weight: 500;
    text-align: center;
    padding-top: 30px;
    line-height: 20px;
}

.f-color{
    color: #66A267;
    font-size: 24px;
    font-family: 'GmarketSans';
    font-weight: 510;
    margin-left: 637px;
    padding-right: 275px;
}
.f-grid{
    color: #66A267;
    font-size: 24px;
    font-family: 'GmarketSans';
    font-weight: 510;
}

.f-img02{
    text-align: center;
    padding-top: 57px;
   
}

.fri-m{
    width: 100%;
    height: 203px;
    text-align: center;
    padding-top: 40px;
  
}

/** 패키지-------------------------0-00------------------------------------------- **/

.p_subpage{
    width: 100%;
    height: 580px;
    background-image: url(img/sub02_mbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.lush {
    width: 393px;
    height: 765px;
    margin: 0 auto;
}

.lush-img01{
    width: 393px;
    height: 355px;
    background-image: url(img/lush_img01_m.png);
    background-repeat: no-repeat;
    background-size: auto;
    
}

.lush-title{
    padding-top: 40px;
    margin: 0 auto;
    display: block;

    
}

.lush-info{
    color: #7E6361;
    font-size: 13px;
    font-family: 'GmarketSans';
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    padding-top: 30px;
    
}

.lush-img02{
    width: 393px;
    height: 233px;
    background-image: url(img/lush_img02_m.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.lush-con{
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}


.box{
    color: #7E6361;
    font-size: 13px;
    font-family: 'GmarketSans';
    line-height: 18px;
    font-weight: 500;
    text-align: left;
    padding-top: 10px;
    padding-left: 54px;
    
}



.lush-img03{
    width: 393px;
    height: 177px;
    margin: 0 auto;
   
    
}

.pl{
    width: 393px;
    height: 536px;
    background-image: url(img/pl_img_m.png);
    margin: 0 auto;
}

.pl-title{
    text-align: center;
    padding-top: 40px;

}

.person{
    text-align: center;
    padding-top: 25px;
    
}

.pl-info{
    color: #BB9F9B;
    font-size: 13px;
    font-family: 'GmarketSans';
    font-weight: 500;
    text-align: center;
    padding-top: 10px;
    line-height: 18px;
}

.betrue{
    width: 393px;
    height: 702px;
    background-image: url(img/betrue_img01.png);
    
    margin: 0 auto;
}

.b-title{
   display: block;
   margin: 0 auto;
   padding-top: 40px;
}

.be-info{
    color: #7E523B;
    font-size: 13px;
    font-family: 'GmarketSans';
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    padding-top: 30px;
    
}

.logo-info3{
    
    padding-top: 22px;
    
}

.logo-info3 img {
    display: block;
    margin: 0 auto;
}

.betrue_img2 {
    width: 393px;
    padding-top: 10px;
    
}

.betrue_img2 img {
    display: block;
    margin: 0 auto;
}

/** 웹디자인 **/

.w_subpage{
    width: 100%;
    height: 580px;
    background-image: url(img/sub03_mbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.paris{
    width: 393PX;
    height: 482px;
    background-color: #FFFBF2;
    margin: 0 auto ;
}


.pbtitle{
    padding-top: 40px;
    
}
.pbtitle img {
    display: block;
    margin: 0 auto;
}

.pb-info{
    color: #665A4A;
    font-size: 13px;
    font-family: 'GmarketSans';
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    padding-top: 19px;
    
}

.pb-site{
    color: #665A4A;
    font-size: 8px;
    font-family: 'GmarketSans';
    font-weight: 500;
    text-align: right;
    padding-right: 63px;
    padding-top: 20px;
    
}

.pb-img01{
    text-align: center;
    padding-top: 6px;
}

.pbsub{
    text-align: center;
    
}

.milk{
    width: 393px;
    height: 438px;
    background-image: url(/img/milk_mockup_m.png) ;
    margin: 0 auto;
    
}

.milk_title {
    width: 393px;
    text-align: center;
    padding-top: 40px;

    
}

.milk_title img {
    display: block;
    
}

.milk_s p {
    color: #396CA7;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    padding-top: 20px;
    font-family: 'GmarketSans';
}


.milk_site p {
    font-size: 8px;
    text-align: right;
    padding-right: 63px;
    padding-top: 20px;
    color: #396CA7;
    font-family: 'GmarketSans';

}

.doing {
    width: 393px;
    height: 688px;
    margin: 0 auto;
    background-image: url(/img/doing_bg.png);

}

.doing_title {
    width: 393px;
    padding-top: 40px;
    
}

.doing_title img {
    display: block;
    margin: 0 auto;
    
    
}

.doing_p {
    padding-top: 20px;
    padding-left: 41px;
}

.doing_p p {
    color: #7986C6;
    font-size: 13px;
    text-align: left;
    font-family: 'GmarketSans';
}

.doing_logo {
    padding-top: 349px;
}
.doing_logo img {
    display: block;
    margin: 0 auto;
}



/** 편집디자인 **/
.ed_subpage{
    width: 100%;
    height: 580px;
    background-image: url(img/sub04_mbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.ca {
    width: 393px;
    height: 1165px;
    background-image: url(/img/ca_mbg.png);
    
}


.ca_title img {
    display: block;
    margin: 0 auto;
    padding-top: 40px;
}


.ca_p p{
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    padding-top: 20px;
    color: #585858;
    font-family: 'GmarketSans';
}


.hub {
    width: 393px;
    height: 1670px;
    background-image: url(/img/hb_mbg.png);

}


.hub_title img {
    display: block;
    margin: 0 auto;
    padding-top: 40px;
}

.hub_p {
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    padding-top: 20px;
    color: #585858;
    font-family: 'GmarketSans';

}







/** ----------------scroll-------------------------------- **/

.scroll-down{z-index: 11; position: absolute; width: 15px; height: 30px; left: 50%;
    transform: translate(-50%, -150%);  opacity: 80%;
    border: 0.4px solid #fff; border-radius: 30px; }

.scroll-down::before, .scroll-down::after{content: ''; position: absolute;
                   top: 20%; left: 50%; border: 0.1px solid #fff;
                   height: 8px; width: 8px;
                   transform: translate(-50%, -50%) rotate(45deg);
                   border-top: transparent; border-left: transparent;
                   animation: MoveArrow 1.4s ease-in-out infinite; }

@keyframes MoveArrow{0%{opacity: 0;} 30%{opacity: 1;} 60%{opacity: 1;}
                   100%{opacity: 0; top: 90%;} }




            
